<aside id="sidebar" [ngClass]="{ 'active': sidebarActive }">
    <header class="flex items-center justify-center h-14 flex-shrink-0 select-none bg-gradient-to-t from-surface-a to-surface-b">
        <a class="text-xl font-semibold font-brand" routerLink="/">ngCda</a>
    </header>

    <nav class="flex-grow flex flex-col pt-6 pe-6 overflow-y-auto">
        <app-sidebar-link link="/" icon="home" label="Strona główna" />

        <div class="ps-6">
            <p-divider align="center"></p-divider>
        </div>

        <app-sidebar-link link="/watch-later" icon="watch_later" label="Do obejrzenia" />
        <app-sidebar-link link="/history" icon="history" label="Historia" />

        <div class="ps-6">
            <p-divider align="center"></p-divider>
        </div>

        <app-sidebar-link link="/top" icon="mode_heat" label="Popularne" />
        <app-sidebar-link link="/new" icon="new_releases" label="Najnowsze" />

        <div class="ps-6">
            <p-divider align="center"></p-divider>
        </div>

        <div>
            <a class="sidebar-link" (click)="Config.CATEGORIES_EXPANDED = !Config.CATEGORIES_EXPANDED">
                <span class="material-symbols-outlined">category</span>
                <span class="text">Kategorie</span>
                <span class="material-symbols-outlined ml-auto transition-transform duration-200" [ngClass]="{ '-rotate-90': !Config.CATEGORIES_EXPANDED }">keyboard_arrow_down</span>
            </a>

            <div class="overflow-hidden transition-max-height duration-200" [ngStyle]="{ 'max-height': Config.CATEGORIES_EXPANDED ? '1000px' : '0' }">
                <a class="sidebar-link nested" *ngFor="let category of categories" [routerLink]="['/category', category.id]" routerLinkActive="bg-surface-c " [title]="category.name">
                    <span class="text" [innerText]="category.name"></span>
                    <span class="subtext" [innerText]="category.videos"></span>
                </a>
            </div>
        </div>

        <div class="flex-grow py-4"></div>

        <app-sidebar-link link="/settings" icon="settings" label="Ustawienia" />
        <app-sidebar-link link="/about" icon="info" label="O aplikacji" />

        <p class="text-center text-xs text-text-color-secondary my-4">© 2024 <a href="https://znx.pw" target="_blank">ZANXEY</a></p>
    </nav>
</aside>

<div id="sidebar-dimmer" [ngClass]="{ 'active': sidebarActive }" (click)="toggleSidebar(false)"></div>
